@model List<WANTED.Models.Interpol>
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mas buscados por la Interpol</title>
    @*<link href="~/Assets/css/buscado.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        img {
            height: 200px;
            width: 100%;
        }

        .item {
            padding-left: 5px;
            padding-right: 5px;
        }

        .item-card {
            transition: 0.5s;
            cursor: pointer;
        }

        .item-card-title {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
        }

            .item-card-title i {
                font-size: 15px;
                transition: 1s;
                cursor: pointer;
                color: #ffa710
            }

        .card-title i:hover {
            transform: scale(1.25) rotate(100deg);
            color: #18d4ca;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
        }

        .card-text {
            height: 80px;
            overflow:hidden;
        }

        .card::before, .card::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale3d(0, 0, 1);
            transition: transform .3s ease-out 0s;
            background: rgba(255, 255, 255, 0.1);
            content: '';
            pointer-events: none;
        }

        .card::before {
            transform-origin: left top;
        }

        .card::after {
            transform-origin: right bottom;
        }

        .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
            transform: scale3d(1, 1, 1);
        }
    </style>
</head>

<body class="overview">
     <div class="container mt-5">      
         <div class="row">
             @foreach (var item in Model)
             {
             <div class="card" style="width: 18rem;">
                 <h5 class="card-title my-2">@item.Nacionalidad</h5>
                 <img src="@item.LinkImagen" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">@item.Nombre_Pila</h5>
                     <p class="card-text">@item.Cargos</p>
                     <a href="#" class="btn btn-primary">details</a>
                 </div>
             </div>
                 @*<div class="col-md-3 col-sm-6 item">
                     <div class="card item-card card-block">
                         <h4 class="card-title text-right"><i class="material-icons">@item.Nacionalidad</i></h4>
                         <v src="@item.LinkImagen" alt="Photo of sunset">
                             <h5 class="item-card-title mt-3 mb-3">@item.Nombre_Pila</h5>
                             <p class="card-text">@item.Cargos</p>
                     </div>
                 </div>*@

             }




         </div>

    </div>





    


    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script src="~/Assets/js/buscado.js"></script>*@
</body>
</html>